.body-main {
    margin-top: 25px;
    border-top: 1px solid black;
    height: 100%;
    background-color: #232323;
}

.body-menu-main {
    color: white;
    padding-bottom: 3px;
    padding-top: 15px;
}

.body-menu-main li {
    display: inline;
    padding: 18px;
}

.body-menu-line {
    border-bottom: 1px solid gray;
    margin-inline: 35px;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
}

.body-cards-main {
    padding-inline: 35px;
}

.cart-detail-main {
    background-color: #232323;
    height: 600px;
    max-height: 600px;
    color: white
}

.clickable {
    cursor: pointer;
}
