.body-main {
    margin-top: 25px;
    border-top: 1px solid black;
    height: 100%;
    background-color: #232323;
}

.body-menu-main {
    color: white;
    padding-bottom: 3px;
    padding-top: 15px;
}

.body-menu-main li {
    display: inline;
    padding: 8px;
}

.body-menu-line {
    border-bottom: 1px solid gray;
    margin-inline: 35px;
}

.body-cards-main {
    padding-inline: 35px;
}

.single-card-main {
    
}

